---
import Main from '../layouts/main.astro';
import { CollectionEntry, getCollection } from 'astro:content';

export async function getStaticPaths() {
  const posts = await getCollection('blog');
  const paths = posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));

  return paths;
}

type Props = CollectionEntry<'blog'>;

const post = Astro.props;
const { Content } = await post.render();
---

<Main>
  <h1 class="text-3xl">{post.data.title}</h1>
  <Content />
</Main>
